body{
    
    background-image: url('Wall2.png');
    padding: 0px;
    padding-left: 300px;
    color: white;
}
p{
    font-size: 27px;
    color:rgba(251, 179, 120, 0.81)
}
input{
    margin-top: 5px;
    background-color: rgb(179, 179, 179);
    color: rgb(0, 2, 100);
    font-size: 42px;
    padding: 16.9px;
    border-radius: 16.9px;
    width: 100px;
   text-align: center;
}
.btn{
    margin-top: 5px;
    padding: 12px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    font-size: 26px;
    background-color: #660000;
    color: rgb(190, 147, 8);
    cursor: pointer;
    transition:  1s;  
}
.btn:hover{
    background-color: #ff0000;
}
canvas{
    margin-top: 0px;
    width: 700px;
    height: 590px;
    background-image: url('Wallpaper_DnD.png');
    background-size: 100%;
}
